bem-bl
*-controls
*-media
*-page
*-popups
*-search
*-services

lego
node_modules
.DS_Store
.idea
.project
.svn
.bem/cache
desktop.bundles/*/*.*
!desktop.bundles/*/*.bemjson.js
!desktop.bundles/.bem/*

bem-pr
desktop.sets/*.examples/
touch-pad.sets/*.examples/
bem-gen-doc
bem-json
release
